<a href="{{ '/destination/moon' | url }}">
    Moon
</a>
<a href="{{ '/destination/mars' | url }}">
    Mars
</a>
<a href="{{ '/destination/europa' | url }}">
    Europa
</a>
<a href="{{ '/destination/titan' | url }}">
    Titan
</a>